<%= stylesheet_link_tag "footer/footer.css", :media => "all" %>

<footer>
    <div class="container-fluid px-5 py-5">
        <div class="text-center">
            <img class="footer-logo" src="/assets/1_Primary_logo_on_transparent_143x73.png"></img>
            <h5>&copy; KAJUAL</h5>
        </div>
    </div>
</footer>